@font-face {
  font-family: "satoshi";
  src: url("../fonts/WEB/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "archivo";
  src: url("../fonts/Archivo_Complete/Fonts/WEB/fonts/Archivo-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "satoshi", sans-serif;
}

.archivo {
  font-family: "archivo", sans-serif;
}

.line-height {
  line-height: 1%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
